<!DOCTYPE html>
<html>
<head>
    <title>ImproveBH</title>
</head>

<body style="color:rgb(1, 187, 131); font-family: Arial; background-color: rgb(2, 46, 31);">
    <h1>InproveBH</h1>
    
    <h2>Enter Brawlhalla ID</h2>
    <form action="/playerData-all", method="get">
        <input type = "text" name = "bhid">
        <input type="submit" value = "All Data">
        <input type="submit" formaction="/playerData-1v1" value = "Ranked 1v1">
         <input type="submit" formaction="/playerData-3v3" value = "Ranked 3v3">
    </form>
</body>
</html>