<!DOCTYPE html>
<html>

<head>
    <title>ImproveBH</title>
</head>

<body style="color:#E5E7EB; font-family: Arial; background-color: #111827;">
    <h1>ImproveBH</h1>
    <p>{{general.name}}</p>
    <p>Playtime: {{general.gameTime}}
    <p>Level:  {{general.level}}</p>
    <p>Wins: {{general.wins}}</p>
    <p>Loses: {{general.games - general.wins}}</p>
    <p>Win rate: {{(general.wins/(general.games+0.000001))*100}}</p>
    

    <div class="flex-container" style="display: flex; gap: 15px;">
        <div class = "flex-child" style="background-color:#1F2937; flex: 1; padding: 10px;" margin=auto>
            <h2>Legend Stats</h2>
            {% for l in general.legends %}
                <p>name: {{legendLookup[l.id].legend_name}}, level: {{l.level}}</p>
            {% endfor %}

        </div>
        <div class = "flex-child" style="background-color:#1F2937; flex: 1; padding: 10px;" margin=auto>
            <p>test2</p>
        </div>
        <div class = "flex-child" style="background-color:#1F2937; flex: 1; padding: 10px;" margin=auto>
            <p>test3</p>
        </div>
    </div>

</body>
</html>